<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue演示</title>
	<style>
		p {
			padding: 10px;
			width: 600px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<div id="app">
		<p> 哈哈哈 {{message}} </p>
		<button v-on:click="reverseMessage">逆转</button>

		<p v-text="message"></p>

		<p v-bind:title="titleContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsa quibusdam quo harum qui optio rem adipisci, quia ullam distinctio beatae dolore earum, sint officia modi suscipit tempore cupiditate nobis!</p>

		<input type="text" v-model="message">

		<hr>

		<ul>
			<li v-for="item in dataList">
				{{ item.name }}
				{{ item.age }}
				<span v-if="item.tag" style="color:red">精华</span>
			</li>
		</ul>

		<hr>

		<todo-item></todo-item>
	</div>


	<script src="../dist/vue.js"></script>
	<script>
		//Vue添加组件
		Vue.component('todo-item', {
			template: '<p>Lorem Hello Vue</p>'
		})
		//创建Vue实例
		var app = new Vue({
			el:'#app',
			data: {
				message: 'Hello,欢迎体验Vue',
				titleContent: '哈哈哈，我出来了',
				dataList: [
					{name: '张飞', age: 18, tag: true},
					{name: '李逵', age: 18, tag: false},
					{name: '松江', age: 28, tag: true},
					{name: '孙浮空', age: 4138, tag: true}
				]
			},
			methods: {
				reverseMessage: function(){
					this.message = this.message.split('').reverse().join('');
				}
			}
		})
	</script>
</body>
</html>