<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue演示</title>
    <style>
        p {
            padding: 10px;
            width: 600px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>哈哈{{message}}</p>
        <button v-on:click="reverseMessage">逆转</button>
        <p v-text="message"></p>
        <p v-bind:title="titleContent">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ipsa quibusdam quo harum qui optio rem
            adipisci, quia ullam distinctio beatae dolore earum, sint officia modi suscipit tempore cupiditate nobis!
        </p>

        <input type="text" v-model="message">
        <hr>
        <ul>
            <li v-for="item in dataList">
                {{item.name}}
                {{item.age}}
                <span v-if="item.tag" style="color:red">精华</span>
            </li>
        </ul>
        <hr>
        <todo-item></todo-item>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 创建vue实例
        var app = new Vue({
            el: '#app',
            data:{
                message:'Hello,欢迎体验vue',
                titleContent:'Haha,我来了',
                dataList:[
                    {
                        name:'zhangfei',age:18,tag:true
                    },
                    {
                        name:'likui',age:18,tag:false
                    },
                    {
                        name:'songjiang',age:28,
                        tag:true
                    },
                    {
                        name:'wukong',age:435,tag:true
                    }
                ]
            },
            methods:{
                reverseMessage:function(){
                    this.message = 
                    this.message.split('').reverse().join('');
                }
            }
        })
    </script>
</body>

</html>